@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');

:root{
    --cor1: #c9431a;
    --cor2: #ffffff;
    --cor3: #000000;
    --cor4: #42414159;
    --cor5: #e2e1e1;

}
*{      
    box-sizing: border-box;
    font-family: 'Gemunu Libre', sans-serif; 
}
body{
    margin: 0px;
}
.container{
    max-width: 1024px;
    margin: 30px auto;    
}
header{
    position: fixed;
    top: 0px;
    width: 100%;
}
.header-flex-start{
    margin: 0px;
    padding: 0px;
}
.flex-start{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: flex-start;
    width: 100%;
    background-image: linear-gradient(to right, var(--cor1), var(--cor2));
}
@media only screen and (min-whidth: 500px ){
    .container{
        display: none;
    }
}
#img-home{
    width: 60px;
    height: 60px;
    margin-top: 25px;
}
h3{
    background-image: linear-gradient(to right, var(--cor1), var(--cor2));  
    font-size: 30px;
    padding-left: 10px;
}
.full_img{
    display: flex;
    justify-content: center;
    padding-top: 90px;  
}
.img_icon_touch{
    width: 300px;
    height: 234px;
}
.img_icon{
    width: 230px;
    height: 234px;
}
.img_icon_mesa{
    width: 250px;
    height: 234px;
}
.foam_item{
    width: 87px;
    height: 155px;
}
.mesa_item{
    width: 146px;
    height: 156px;
}
.table_blue_series{
    text-align: center;
    width: 98%;
    border-collapse: collapse;
}

table,th, td{ 
    border: 1px solid var(--cor3);
}
.flex_img{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;   
}
.coment-alt-touch{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
img{
    padding: 5px;
}
.links{
    list-style: none;
}
.links a{
    text-decoration: none;
    font-size: 20px;   
    letter-spacing: 2px;  
    line-height: 30px;  
}
footer{
    background-color: var(--cor4);
    width: 100%;
    height: 150px;
    margin-top: 100px;
    margin-left: 0px;
    margin-right: 0px;
}
@media screen and (max-width: 320px){
    p,img,figcaption{
        margin-left: 60px;}
}
figcaption{
    text-align: center;
    font-weight: bold;
}
#construct{
    text-align: center;
    font-size: 50px;
}






