/* CSS referente aos componentes <h2> */
.subtitle {
    font-size: 30px;
    padding-left: 10px;
    /* text-shadow: 1px 1px 3px white; */
    padding-left: 20px;
    background-image: linear-gradient(to right, var(--cor1), var(--cor2));
}