/* CSS referente aos componentes <h2> */
.subtitle {
    font-size: 30px;
    padding-left: 10px;
    text-shadow: 1px 1px 3px white;
    background-image: linear-gradient(to right, #c9431a, #ffffff);
}