/* CSS referente ao componentes <p> <ul> */
.content {
    text-align: justify;
    line-height: 25px;
    margin: 16px 10px 16px 10px;
    font-size: 20px ;
}

.content-footer{
    text-align: center;
    color: #000000;
    font-size: 25px;
    font-weight: bold;
    line-height: 50px;
}
