@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Gemunu Libre', sans-serif; 
    font-size: 20px;
}
:root{
    --cor1: #c9431a;
    --cor2: #ffffff;
    --cor3: #000000;
    --cor4: #42414159;
    --cor5: #e2e1e1;
    --cor6: #b3a5a588;
    --cor7: #888686;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 430px;
    margin: 30px auto;
    height: 100%;  
   
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: sans-serif;
    padding: 16px 0; 
    
}
@media screen and (max-width: 1023px){
    main{
        /* border: solid 2px rgb(221, 216, 216);
        border-radius: 20px; */
        margin: 10px 0;
        
    }
    body{
        background-image: linear-gradient(to right, var(--cor1), var(--cor2));
    }
    form{
        padding: 10px;
    }
}
.input{
    height: 60px;
    margin: 10px 0px;
    width: 100%;
    border-radius: 10px;
    
}
h1{
    font-size: 40px;
    text-align: center;
}
option{
    font-size: 20px;
    font-family: 'Gemunu Libre', sans-serif;
}
.radio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}
.secao-datanascimento{
    margin: 10px 0 ;
}
button{
    height: 32px;
    margin: 10px 0px;
    width: auto;
    font-size: 25px;
    font-family: monospace;
    border-radius: 10px;
}
.secao-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.secao-button-position{
    display: flex;
    justify-content: space-around;
   
}
.textarea{
    margin: 10px 0px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    color: black;
}



