@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Gemunu Libre', sans-serif; 
    font-size: 20px;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 430px;
    margin: 30px auto;
    height: 100%;  
   
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: sans-serif;
    padding: 16px 0; 
}
@media screen and (max-width: 1023px){
    main{
        border: solid 2px gray;
        border-radius: 20px;
    }
    form{
        padding: 16px;
    }
}
.input{
    height: 32px;
    margin: 10px 0px;
    width: 100%;
    
}
h1{
    font-size: 40px;
    text-align: center;
}
option{
    font-size: 20px;
}
.radio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}
.secao-datanascimento{
    margin: 10px 0 ;
}
button{
    height: 32px;
    margin: 10px 0px;
    width: auto;
    font-size: 25px;
    font-family: monospace;
}
.secao-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.secao-button-position{
    display: flex;
    justify-content: space-around;
   
}



